@banner-text-color: #f2f2f2;
@banner-darken-percentage: 30%;

.banner {
    background-image: url('../images/b.png');
    min-height: 300px;
    margin-bottom: 15px;
    padding-top: 30px;
    color: @banner-text-color;
    letter-spacing: 0.5px;

    .title {
        font-size: 30pt;
    }

    .subtitle {
        color: darken(@banner-text-color, @banner-darken-percentage);
        font-size: 16pt;
    }

    .gravatar {
        height: 150px;
        width: 150px;
        margin-bottom: 30px;
    }
}