.ct-social-linkedin {
    background-image: url('../images/linkedin.png');
    display: block;
    height: 50px;
    width: 50px;
}

.ct-social-twitter {
    background-image: url('../images/twitter.png');
    display: block;
    height: 50px;
    width: 50px;
}

.ct-social-github {
    background-image: url('../images/github.png');
    display: block;
    height: 50px;
    width: 50px;
}

.ct-social-fb {
    background-image: url('../images/fb.png');
    display: block;
    height: 50px;
    width: 50px;
}

.ct-social-wordpress {
    background-image: url('../images/wordpress.png');
    display: block;
    height: 50px;
    width: 50px;
}